@model Cinema.Models.Movie
@{
    ViewData["Title"] = "Create";
}

<h2>Create Movie</h2>
<form method="post" asp-action="Add" asp-controller="Movie">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="GenreId"></label>
        <select asp-for="GenreId" asp-items="@(new SelectList(ViewBag.Genres, "Id", "Name"))" class="form-control">
            <option value="">Select a movie</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Poster"></label>
        <input asp-for="Poster" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Plot"></label>
        <input asp-for="Plot" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="VisitorRating"></label>
        <input asp-for="VisitorRating" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ProjectionWeek"></label>
        <input asp-for="ProjectionWeek" type="date" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>
